.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--bg-overlay);
	padding: 10px;
}

.modal {
	background: var(--bg-surface);
	padding: 40px;
	width: 100%;
	max-width: 750px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.stack h3 {
	margin: 0;
	text-align: left;
	margin-bottom: 8px;
}

.modal p {
	line-height: var(--line-height-copy);
	font-size: 0.9em;
	margin: 0;
}

.stack {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 14px;
	width: 100%;
}

.rejectBtn {
	background-color: rgb(255, 66, 66);
}

.colContainer {
	display: flex;
	align-items: start;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	gap: 10px;
}

.section {
	flex: 1;
	max-width: 50%;
	height: 100%;
}

.code {
	border: 2px solid var(--accent);
	max-height: 350px;
	overflow-y: auto;
	text-align: left;
	min-height: 350px;
}

.code pre {
	margin: 0;
}

p.muted {
	color: var(--fg-muted);
	font-size: 0.8rem;
}

.center {
	text-align: center;
}

.error {
	color: var(--error);
}
