.banner {
	color: white;
	cursor: pointer;
	margin-top: 14px;
	margin-bottom: 14px;
	display: flex;
	justify-content: center;
}

@media (max-width: 800px) {
	.banner {
		display: none;
	}
}

.banner > a {
	color: inherit;
	align-items: center;
	display: flex;
	gap: 14px;
	background-color: #ffaf07;
	border-radius: 1rem;
	width: fit-content;
	padding: 1rem;
	transition: all 0.1s;
	max-width: 400px;
}

.banner:hover {
	transform: scale(101%);
}

.banner > a:hover {
	color: inherit;
}

.icon {
	font-size: 5rem;
}
