.chatUI {
	display: flex;
	flex-direction: column;
}

.chatArea {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;
	padding: 10px;
}

.message {
	font-size: 14px;
	margin-bottom: 10px;
	padding: 12px;
	overflow-x: auto;
	background-color: lightgrey;
	border-radius: 5px;
	max-width: 85%;
	white-space: pre-wrap;
}

.messageUser {
	align-self: flex-end;
	background-color: var(--accent);
	color: white;
}

.messageBot {
	align-self: flex-start;
	background-color: #e5e5e5;
	color: black;
}

.message p {
	margin: 0;
}

.message pre {
	margin: 0;
	padding: 4px;
}

.message ol {
	margin: 0;
	padding-left: 16px;
}

.message ul {
	margin: 0;
	padding-left: 16px;
}

.inputArea {
	border: 1px solid var(--accent);
	display: flex;
	align-items: flex-end;
}

.inputArea textarea {
	background: transparent;
	border: none;
	outline: none;
	flex-grow: 1;
	padding: 5px;
	height: 38px;
}

.inputArea button {
	height: 38px;
}