.container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	max-width: 100%;
}

.tabs {
	display: flex;
	flex-direction: row;
}

.tab {
	background: var(--accent);
	width: fit-content;
	color: #ffffff;
	padding: 6px 12px;
	display: flex;
	flex-direction: row;
	gap: 4px;
	align-items: center;
	user-select: none;
	cursor: var(--cursor-interactive);
	z-index: 1;
	border: solid var(--accent-dark);
	border-width: 0;
	border-right-width: 1px;
	border-left-width: 1px;
}

.tab:first-of-type {
	border-left-width: 0;
}

.tab:last-of-type {
    border-right-width: 0;
    padding-left: 8px;
    padding-right: 10px;
}

.tab.selected {
	background: var(--accent-dark);
}

.tab:hover {
	background: var(--accent-dark);
}

.content {
	background: var(--bg-surface);
	border: 2px solid var(--accent);
	padding: 10px;
	width: 100%;
	overflow: scroll;
	height: 100%;
	box-shadow: 0 0 20px 0 #00000038;
	display: inline-block;
}

.content strong {
	color: #000000;
}

.content h1 {
	text-align: center;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #868e96;
	font-size: 2.8em;
	line-height: 1;
	font-weight: normal;
}

.content h2 {
	color: var(--accent-dark);
	margin: 0;
	font-size: 1.75em;
	margin-top: 40px;
	margin-bottom: 20px;
}

.content h3 {
	margin: 0;
	margin-top: 30px;
	font-size: 1.125em;
}

.content p, .content ul, .content pre {
	color: #495057;
	margin: 16px 0;
	line-height: var(--line-height-copy);
}

.content code, .content pre {
	font-family: var(--font-code);
	font-size: 0.9rem;
	background: #e9ecef;
	color: #343a40;
}

.content code {
	padding: 0 4px;
}

.content pre code {
	display: block;
	padding: 12px 16px;
	overflow: auto;
}

.content a:hover {
	text-decoration: underline;
}

.content summary {
	cursor: var(--cursor-interactive);
}

.content summary:hover {
	color: var(--accent-dark);
}

.content img {
	height: auto;
	width: 100%;
}

.content_dark {
	background: #2f2f2f;
	border: 2px solid var(--accent);
	padding: 10px;
	width: 100%;
	overflow: scroll;
	height: 100%;
	box-shadow: 0 0 20px 0 #00000038;
	display: inline-block;
}

.content_dark strong {
	color: rgb(7, 137, 105);
}

.content_dark h1 {
	text-align: center;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #868e96;
	font-size: 2.8em;
	line-height: 1;
	font-weight: normal;
}

.content_dark h2 {
	color: var(--accent);
	margin: 0;
	font-size: 1.75em;
	margin-top: 40px;
	margin-bottom: 20px;
}

.content_dark h3 {
	margin: 0;
	margin-top: 30px;
	font-size: 1.125em;
	color: var(--accent);
}

.content_dark p, .content_dark ul, .content_dark pre {
	color: white;
	margin: 16px 0;
	line-height: var(--line-height-copy);
}

.content_dark code, .content_dark pre {
	font-family: var(--font-code);
	font-size: 0.9rem;
	background: #e9ecef;
	color: #343a40;
}

.content_dark code {
	padding: 0 4px;
}

.content_dark pre code {
	display: block;
	padding: 12px 16px;
	overflow: auto;
}

.content_dark a:hover {
	text-decoration: underline;
}

.content_dark summary {
	cursor: var(--cursor-interactive);
}

.content_dark summary:hover {
	color: var(--accent-dark);
}

.content_dark img {
	height: auto;
	width: 100%;
}

.paginationContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	height: 40px;
	margin-bottom: 5px;
	justify-content: space-between;
}

.forwardContainer {
	display: flex;
	justify-content: flex-end;
}

.backContainer {
	display: flex;
	justify-content: flex-start;
}

.centerContainer {
	display: flex;
	justify-content: center;
}

.paginationButton {
	height: 100%;
	border: none;
	display: flex;
	align-items: center;
	font-family: var(--font-text);
	font-size: 16px;
}

.backContainer .backButton {
	background-color: #ebebeb;
	color: black;
}

.backContainer .backButton:not(disabled):hover {
	background-color: #d9d9d9;
}

.pageIndicator {
	height: 100%;
	width: fit-content;
	padding: 10px 14px;
	margin: 0 5px 0 5px;
	color: black;
}
