.container {
	background: var(--bg-surface);
	z-index: 999999;
	padding: 14px;
	position: fixed;
	bottom: 16px;
	left: 16px;
	width: 400px;
	box-shadow: 0 4px 8px 0 #0000005e;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.container p {
	margin: 0;
	line-height: var(--line-height-copy);
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 6px;
}

.bold {
	font-weight: bold;
}