.container {
	height: 100vh;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerInner {
	height: 100vh;
	width: 100%;
	z-index: 99;
	position: fixed;
	top:0;
	left:0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner{
	background: var(--bg-surface);
	border: 5px solid var(--accent);
	padding:2rem;
	padding-top: 1rem;
	width: 100%;
	max-width: 500px;
	box-shadow: 10px 10px 0px -3px var(--accent);
}

p {
	line-height: 1.5;
}

.muted {
	color: var(--fg-muted);
	font-size: 0.9rem;
}

.subtitle {
	color: var(--fg-switch-low);
	font-size: 1rem;
	margin-bottom: 5px;
}

.input{
	background: white;
	border: 2px solid var(--fg-muted);
	padding:10px 10px;
	width: 100%;
	overflow: hidden;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	text-decoration-color: var(--fg-muted-on-accent);
}

.header{
	font-weight: 900;
}

.buttonContainer{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 5px;
}

.done{
	margin-right: 0.25rem;
	width: 50%;
	display: flex;
	justify-content: center;
	cursor: pointer;
}