.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 10px;
}


.modal {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 550px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.stack {
    margin-bottom: 20px;
}

.buttonGroup {
	display: flex;
    justify-content: center;
    width: 100%;
}

.buttonGroup button {
    margin: 0 10px;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 16px;
    margin: 10px 0 20px;
}