---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'
import Outside from '../../../components/spriki-components/Outside.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Categories name={data["start.categories.name.acknowledgements"]} title={data["start.categories.title.acknowledgements"]} >
<p>{data["start.categories.acknowledgements.p1"]}</p>
<p>{data["start.categories.acknowledgements.p2"]}</p>
<div class="docs-preview">
    <Outside
      links="kalumajs.org"
      name="Kaluma"
      description=" " />
    <Outside
      links="jerryscript.net"
      name="JerryScript"
      description=" " />
    <Outside
      links="github.com/WebReflection/uhtml"
      name="uhtml"
      description=" " />
    <Outside
      links="codemirror.net"
      name="CodeMirror"
      description=" " />
</div>
</Categories>