---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Categories name={data["start.categories.name.engine-dev"]} title={data["start.categories.title.engine-dev"]} >
<p>{data["start.categories.engine-dev.p1"]} https://github.com/hackclub/sprig-engine/.</p>
<p>{data["start.categories.engine-dev.p2"]}</p>
<p>{data["start.categories.engine-dev.p3"]}</p>

<code>git clone https://github.com/hackclub/sprig-engine/</code>
<code>cd sprig-engine</code>
<code>yarn install</code>
<code>yarn link</code>
    
<p>{data["start.categories.engine-dev.p4"]}</p>

<code>yarn link sprig</code>

<p>{data["start.categories.engine-dev.p5"]} <code>yarn dev</code> {data["start.categories.engine-dev.p6"]}</p>
</Categories>