---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'
import Docs from '../../../components/spriki-components/Docs.astro'
import Outside from '../../../components/spriki-components/Outside.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Categories name={data["start.categories.name"]} title={data["start.categories.title"]} >
<p>{data["start.categories.about"]}</p>
<img class="img-tutorial" src="https://user-images.githubusercontent.com/27078897/186769641-5b1181b4-9969-4276-9fa0-9f15140e4a9b.jpg">
<p>{data["start.categories.p1"]}</p>
<h2>{data["start.categories.p2"]}</h2>
<p>{data["start.categories.p3"]}</p>
<img class="img-tutorial" src="https://sprig.hackclub.com/stories-tiny/sprig-back.jpeg">
<p>{data["start.categories.p4"]}</p>
<img class="img-tutorial" src="https://cloud-l94lfbasw-hack-club-bot.vercel.app/0image.png">
<p>{data["start.categories.p5"]}</p>
<img class="img-tutorial" src="https://user-images.githubusercontent.com/27078897/186015708-860df540-6c41-4400-aed5-d0fe8c9d31aa.jpg">

<h2>{data["start.categories.resources"]}</h2>
<div class="docs-preview">
  <Outside
    links="sprig.hackclub.com/sprikipedia/tutorials"
    name={data["start.categories.resources.tutorials"]}
    description={data["start.categories.resources.tutorials.description"]} />
  <Docs
    links="../sprikipedia/getting-started/slack-channels"
    name={data["start.categories.resources.slack"]}
    description={data["start.categories.resources.slack.description"]} />
  <Docs
    links="../sprikipedia/getting-started/setup"
    name={data["start.categories.resources.setup"]}
    description={data["start.categories.resources.setup.description"]} />
  <Docs
    links="../sprikipedia/getting-started/acknowledgements"
    name={data["start.categories.resources.acknowledgements"]}
    description={data["start.categories.resources.acknowledgements.description"]} />
  <Docs
    links="../sprikipedia/getting-started/engine-development"
    name={data["start.categories.resources.engine"]}
    description={data["start.categories.resources.engine.description"]} />
  <Docs
    links="../sprikipedia/getting-started/philosophy"
    name={data["start.categories.resources.philosophy"]}
    description={data["start.categories.resources.philosophy.description"]} />
  <Docs
    links="../sprikipedia/getting-started/you-ship-we-ship"
    name={data["start.categories.resources.ysws"]}
    description={data["start.categories.resources.ysws.description"]} />
</div>
</Categories>