---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Categories name={data["start.categories.name.philosophy"]} title={data["start.categories.title.philosophy"]} >
<p>{data["start.categories.philosophy.p1"]}</p>
</Categories>