---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'
import { getSprikipediaTranslation } from '../../../lib/astro-content'

const data = getSprikipediaTranslation(Astro.url.searchParams.get("lang"))
---
<Categories name={data["start.categories.name.philosophy"]} title={data["start.categories.title.philosophy"]} >
<p>People learn best when they make things that they care about, which they can then share with others. This type of learning philosophy is called constructionism, and Sprig is a type of microworld. A microworld is an environment where you can discover programming by using it to express yourself.</p>
</Categories>
