---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Categories name={data["start.categories.name.setup"]} title={data["start.categories.title.setup"]} >
<p>{data["start.categories.setup.p1"]}</p>
    
<code>git clone https://github.com/hackclub/sprig/</code>
<code>sprig</code>
<code>yarn install</code>

<p>{data["start.categories.setup.p2"]}</p>
    
<p>{data["start.categories.setup.p3"]}</p>
</Categories>