---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'
import Outside from '../../../components/spriki-components/Outside.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Categories name={data["start.categories.name.slack"]} title={data["start.categories.title.slack"]} >
<div class="docs-preview">
    <Outside
    links="hackclub.com/slack/"
    name="Hack Club Slack"
    description=" " />
</div>
<h2>{data["start.categories.slack.p1"]}</h2>
<p>#sprig: {data["start.categories.slack.1"]}</p>
<p>#sprig-platform: {data["start.categories.slack.2"]}</p>
<p>#sprig-gaming-controller: {data["start.categories.slack.3"]}</p>
<p>#sprig-emulator: {data["start.categories.slack.4"]}</p>
<p>#sprig-multiplayer: {data["start.categories.slack.5"]}</p>
<p>#sprig-lora: {data["start.categories.slack.6"]}</p>
<p>#sdsprig: {data["start.categories.slack.7"]}</p>
<p>#sprig-minecraft: {data["start.categories.slack.8"]}</p>
<p>#sprig-ios-app: {data["start.categories.slack.9"]}</p>
<p>#sprig-engagement: {data["start.categories.slack.10"]}</p>
<p>#vs-sprig: {data["start.categories.slack.11"]}</p>
<p>#stationary-sprig: {data["start.categories.slack.12"]}</p>
<p>#spriggy-doom: {data["start.categories.slack.13"]}</p>
<p>#sprigos-development: {data["start.categories.slack.14"]}</p>
<p>#spade: {data["start.categories.slack.15"]}</p>
<p>#spaint: {data["start.categories.slack.16"]}</p>
</Categories>