---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'
import Outside from '../../../components/spriki-components/Outside.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Categories name={data["start.categories.name.ysws"]} title={data["start.categories.title.ysws"]} >
<h2>{data["start.categories.ysws.p1"]}</h2>
<p>{data["start.categories.ysws.p2"]}</p>
<p>{data["start.categories.ysws.p3"]}</p>

<h2>{data["start.categories.ysws.p4"]}</h2>
<div class="docs-preview">
    <Outside
    links="blot.hackclub.dev"
    name="Blot"
    description={data["start.categories.ysws.blot.description"]} />
</div>
</Categories>