.button {
	--btn-icon-size: 1em;
	background: var(--bg-btn-inactive);
	color: #ffffff;
	padding: 8px 12px;
	border: 2px solid var(--bg-btn-inactive);
	cursor: var(--cursor-interactive);
	display: inline-flex;
	flex-direction: row;
	font-size: 0.9rem;
	font-family: inherit;
	align-items: center;
	gap: 6px;
	user-select: none;
	text-decoration: none;
}

.bigIcon {
	--btn-icon-size: 24px;
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.button.loading {
	cursor: wait;
	animation: shimmer 2.2s linear infinite forwards;
    background-image: linear-gradient(to right, transparent 8%, #ffffffa1 18%, transparent 33%);
    background-size: 1200px 100%;
}

.button:not(:disabled):hover {
	background: var(--bg-btn-inactive-dark);
	border-color: var(--bg-btn-inactive-dark);
}

.button > svg {
	display: block;
	width: var(--btn-icon-size);
	height: var(--btn-icon-size);
}

.accent {
	background: var(--accent);
	border-color: var(--accent);
}

.accent:not(:disabled):hover {
	background: var(--accent-dark);
	border-color: var(--accent-dark);
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}