.container {
	position: relative;
	display: inline-block;
	overflow: visible;
}

.input {
	display: inline-block;
	background: transparent;
	border: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	padding: 0;
	margin: 0;
	outline: none;
	position: absolute;
	text-decoration: underline;
	text-decoration-color: var(--fg-muted-on-accent);
}

.input:focus {
	text-decoration: underline;
	text-decoration-color: currentColor;
}

.measure {
	display: inline-block;
	user-select: none;
	pointer-events: none;
	opacity: 0;
	white-space: pre;
}

.input::placeholder {
	color: var(--fg-muted-on-accent);
	user-select: none;
}