.textarea {
	background: #ffffff;
	border: 2px solid var(--fg-muted);
	padding: 8px 12px;
	display: block;
	font-size: 0.9rem;
	font-family: inherit;
	outline: none;
	width: 100%;
	line-height: 1.2;
}

.textarea:focus {
	border-color: var(--bg-btn-inactive);
}

.textarea::placeholder {
	color: var(--fg-muted);
	user-select: none;
}