:root {
  --pcb-lighter: #04a356;
  --pcb-base: #016e3a;
  --pcb-trace: #014a27;
  --bg-surface: #f8f9fa;
  --bg-overflow: #dee2e6;
  --bg-floating: #212529;
  --btn-inactive: #495057;
  --btn-inactive-shadow: #343a40;
  --switch-fg-low: #495057;
  --switch-fg-high: #f8f9fa;
  --editor-sidebar-width: 360px;
  --docs-percentage: 0%;
  --editor-width: 60%;
}

:root { box-sizing: border-box; }
* { box-sizing: inherit; }

body, html, .root {
  margin: 0;
  height: 100%;
}

body {
  font-family: "B612 Mono", monospace;
  background: var(--pcb-base);
  background-image: url(/bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.root {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-items: flex-start;
  padding: 0 2px;
  position: relative;
  z-index: 1000; /* why is codemirror such high z */
}

.menu .spacer {
  flex: 1;
}

.menu-item, .dropdown-list > * {
  color: #ffffff;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-item {
  padding-bottom: 16px;
  border-radius: 4px 4px 0 0;
}

.menu-item:hover, .dropdown-list > *:hover {
  cursor: pointer;
  background: var(--pcb-trace);
  color: #ffffff;
}

.delete-file:hover {
  color: red;
}

.stale {
  background: #ba8722d6;
}

.menu-name {
  box-shadow: inset 0 -6px 0 0 var(--pcb-trace);
  font-weight: bold;
  outline: none;
}

.run {
  box-shadow: inset 0 -6px 0 0 var(--pcb-lighter);
  background: var(--pcb-trace);
  /*margin-left: 25px;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  transition: box-shadow 100ms linear;
}

.run:hover {
  box-shadow: inset 0 -50px 0 0 var(--pcb-lighter);
}

.dropdown-list > *:hover {
  background: var(--bg-floating);
}

.dropdown-container {
  position: relative;
}

.dropdown-list {
  visibility: hidden;
  position: absolute;
  border-radius: 0 0 4px 4px;
  overflow: hidden; /* this is bad and horrible but it works for now lol */
  top: 99%;
  left: 0;
  width: max-content;
}

.dropdown-list, .dropdown-list > * {
  background: var(--pcb-trace);
}

.dropdown-list > * {
  cursor: pointer;
  width: 100%;
}

.dropdown-container:hover .dropdown-list {
  visibility: visible;
}

.main-container {
  flex: 1;
  gap: 20px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.code-container {
  background: var(--bg-surface);
  width: var(--editor-width);
  display: flex;
  flex-direction: column;
}

.cm-editor {
  flex: 1;
  overflow: scroll;
}

.cm-scroller {
  font-family: monospace !important;
  font-size: 1.3em;
}

.logs {
  height: 0px;
  box-sizing: border-box;
  overflow-y: auto;
}

.erred {
  background: #c92a2a;
  color: #ffffff;
  height: 80px;
  padding: 5px;
}

.err-line {
  background: #ecb2b2 !important;
}

.game-docs-container {
  display: flex;
  flex-direction: column;
  place-content: center;
  flex: 1;
  overflow: hidden;
  gap: 20px;
  align-items: center;
  font-size: 0.9em;
}

.game-canvas-container {
  width: 100%;
  max-height: calc(100% - var(--docs-percentage));
  aspect-ratio: 5/4;
  transition: height 0.2s ease-in-out;
  background: var(--pcb-trace);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*.game-canvas-container:focus,*/
.game-canvas:focus {
  box-shadow:
    0px 0px 2px #fff,            /* outer white */
    0px 0px 6px #0ff,        /* outer left magenta */
    0px 0px 10px #f0f;         /* outer right cyan */
}

.game-text {
  image-rendering: pixelated;
  pointer-events: none;
  position: absolute;
}
.game-canvas {
  image-rendering: pixelated;
  outline: none;
}

.docs {
  background: var(--bg-surface);
  height: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  transition: height 0.2s ease-in-out;
}

.docs-expanded {
  padding: 10px;
  height: var(--docs-percentage);
}

.asset-editor-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000000df;
  padding: 60px;
  gap: 10px;
}

.asset-editor-container > .close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.8em;
  height: 1em;
  width: 1em;
  color: var(--switch-fg-low);
  padding: 0;
  display: block;
  line-height: 1;
  cursor: pointer;
}

.asset-editor-container > .close:hover {
  color: var(--switch-fg-high);
}

.asset-editor-content {
  flex: 1;
  width: 100%;
}

.hide {
  display: none;
}

.cm-boolean-toggle, .cm-open-button {
  line-height: 1;
  vertical-align: middle;
}

.cm-boolean-toggle input {
  margin: 0;
  margin-right: 0.5ch;
}

.cm-open-button {
  position: relative;
}

.cm-open-button button {
  position: relative;
  top: -1px;
  padding: 0 4px;
  font-size: inherit;
  font-family: inherit;
  line-height: inh;
  border: none;
  background: var(--pcb-base);
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
}

.cm-open-button button:hover {
  background: var(--pcb-lighter);
}

.cm-open-button bitmap-preview {
  position: absolute;
  left: 0;
  width: 100px;
  z-index: 999;
  display: none;
  pointer-events: none;
}

.cm-open-button:hover bitmap-preview {
  display: block;
}

.vertical-bar {
  position: absolute;
  left: var(--editor-width);
  background: none;
  height: 100%;
  width: 20px;
}

.vertical-bar:hover {
  cursor: col-resize;
  background: var(--pcb-trace);
  opacity: .8;
}

.next-learn {
  position: absolute;
  border-radius: 3px;
  bottom: 0px;
  right: 0px;
  background: var(--pcb-trace);
  color: white;
  width: 5em;
  height: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
}
