body, html {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: scroll;
}

.canvas-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
}

canvas {
  border: 1px solid black;
  margin: 10px;
}