---
import '../../global.css'
import Editor from '../../components/big-interactive-pages/editor'
import StandardHead from '../../components/standard-head.astro'
import { signal } from '@preact/signals'
import type { PersistenceState } from '../../lib/state'
import { getSession } from '../../lib/game-saving/account'
import { extractMetadata } from '../../lib/game-saving/extract-metadata'
import MobilePlayer from '../../components/big-interactive-pages/mobile-player'
import { mobileUserAgent } from '../../lib/utils/mobile'

const session = await getSession(Astro.cookies)

const filename = Astro.params.filename ?? ''
const res = await fetch(`https://raw.githubusercontent.com/hackclub/sprig/main/games/${encodeURIComponent(filename)}.js`)
if (!res.ok) return Astro.redirect('/404', 302)
const code = await res.text()

const { name, authorName, cleanedCode } = extractMetadata(code)
const persistenceState = signal<PersistenceState>({
	kind: 'SHARED',
	name: (name ?? filename) || 'Untitled',
	authorName: authorName || '',
	code: cleanedCode,
	stale: false,
	session
})
const isMobile = mobileUserAgent(Astro.request.headers.get('user-agent') ?? '')
---

<html lang='en'>
	<head>
		<StandardHead title={name} />
	</head>
	<body>
		{isMobile ? (
			<MobilePlayer
				client:load
				code={cleanedCode}
				gameName={(name ?? filename) || 'Untitled'}
				authorName={authorName || ''}
			/>
		) : (
			<Editor
				client:load
				persistenceState={persistenceState}
				cookies={{ outputAreaSize: Astro.cookies.get('outputAreaSize').number() }}
			/>
		)}
	</body>
</html>