---
import "../../global.css";
import "./gallery.css";
import { getSession } from "../../lib/game-saving/account";
import Navbar from "../../components/navbar-main";
import StandardHead from "../../components/standard-head.astro";
import { getGalleryGames } from "../../lib/game-saving/gallery";
import Gallery from "./gallery";

const session = await getSession(Astro.cookies);

const games = await getGalleryGames();
const tags = [
	...new Set(games.reduce<string[]>((p, c) => [...p, ...c.tags], [])),
];



// sort everything else alphabetically
/*
games
	.sort((a, b) =>
		a.tags.includes("tutorial") ? -1 : a.title > b.title ? 1 : -1
	)
	*/

// Add isNew attribute to 10 newest games
/*
games
	.sort((a, b) => Date.parse(b.addedOn) - Date.parse(a.addedOn))
	.slice(0, 10)
	.forEach((game) => (game.isNew = true));

// put tutorials first
games.sort((a, _) => a.tags.includes("tutorial") ? -1 : 1)
*/
---


<html lang="en">
	<head>
		<StandardHead title="Gallery" />

		<script>
			if (localStorage.getItem("isDark") === "true") {
				document.body.style.backgroundColor = "#2f2f2f";
				document.body.style.color = "white";
			}
		</script>
	</head>
	<body>
		<Navbar session={session} />
		<div data-games={games} id="games-data"></div>
		<div class="copy-container">
			<h1>Gallery</h1>

			<Gallery client:only="preact" games={games} tags={tags} />			
		</div>
	</body>
</html>
