---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'
---
<Categories name='Team - Sprikipedia, the Sprig encyclopedia' title='Team' whats='Our staff.' about='Who make Sprig possible.'>
    <h1>TBD</h1>
</Categories>