---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'
import Staff from '../../../components/spriki-components/Staff.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---

<Categories name={data["team.categories.name"]} title={data["team.categories.title"]} >
    <p>{data["team.categories.about"]}</p>
    <h1>{data["team.categories.review"]}</h1>
    <p>{data["team.categories.review.permissions"]}</p>
    <Staff site="github.com/LucasHT22" img="github.com/LucasHT22.png" name="Lucas" pronouns="he/him" slack="@lucas" />
    <!-- need to add more ppl <Staff site="github.com/USERNAME" img="github.com/USERNAME.png" name="" pronouns="" slack="" />-->
</Categories>