---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---

<Categories name={data["team.categories.name"]} title={data["team.categories.title"]} >
    <p>{data["team.categories.about"]}</p>
</Categories>