---
import '../../../../global.css'
import Docs from '../../../../layouts/docs.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---

<Docs dspriki={data["tutorials.categories.dspriki.github.comment"]} dtitle={data["tutorials.categories.dtitle.github.comment"]} dauthor={data["tutorials.categories.dauthor.github.comment"]} >
    <h1>How to edit a comment?</h1>
    <p>1. Click on <b><code>...</code></b></p>
    <br />
    <img class="img-tutorial" src='https://cloud-os1gdzoah-hack-club-bot.vercel.app/0image.png'>
    <br />
    <p>2. Click on <b><code>edit</code></b></p>
    <br />
    <img class="img-tutorial" src='https://cloud-os1gdzoah-hack-club-bot.vercel.app/1image.png'>
    <br />
    <p>3. Make the changes, then <b><code>Update comment</code></b></p>
    <br />
    <img class="img-tutorial" src='https://cloud-os1gdzoah-hack-club-bot.vercel.app/2image.png'>
</Docs>