---
import '../../../../global.css'
import Docs from '../../../../layouts/docs.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Docs dspriki="clearTile() - Sprikipedia, the Sprig encyclopedia" dtitle="clearTile()" dauthor="" >
<p>Removes all sprites from the specified tile.</p>
<Docs />