---
import '../../../../global.css'
import Docs from '../../../../layouts/docs.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Docs dspriki="getAll() - Sprikipedia, the Sprig encyclopedia" dtitle="getAll()" dauthor="" >
<p>Returns all sprites of the given type. If no bitmap key is specified, it returns all the sprites in the game.  </p>
<Docs />