---
import '../../../../global.css'
import Categories from '../../../../layouts/categories.astro'
import Docs2 from '../../../../components/spriki-components/Docs2.astro';
---
<Categories name='Team - Sprikipedia, the Sprig encyclopedia' title='Team' whats='Our staff.' found='Who make Sprig possible.' about='TBD'>
    <h1>TBD</h1>
</Categories>