.vscode
build/
pc_build/
rpi_build/
.DS_Store
src/pc/jerry/include
src/pc/jerry/lib
src/rpi/jerry/include
src/rpi/jerry/lib
CMakeFiles/
Makefile
cmake_install.cmake
engine.js.cstring
engine.min.js
engine.min.js.cstring
game.js
game.js.cstring
game.min.js
dockerBuildLog.txt
spade.uf2
spade.elf
src/shared/version.h
