---
import '../../global.css'
import { firestore, getGame, getSession } from '../../lib/account'
import Editor from '../../components/big-interactive-pages/editor'
import StandardHead from '../../components/standard-head.astro'
import { signal } from '@preact/signals'
import type { PersistenceState } from '../../lib/state'

const session = await getSession(Astro.cookies)
if (!session || !Astro.params.id) return Astro.redirect('/login', 302)

const game = await getGame(Astro.params.id)
if (!game || game?.ownerId !== session.user.id) return Astro.redirect('/404', 302)

if (game.isDraft) {
	await firestore.collection('games').doc(game.id).update({ isDraft: false })
	game.isDraft = false
}

const persistenceState = signal<PersistenceState>({
	kind: 'PERSISTED',
	showLoginPrompt: false,
	saveEmail: null,
	cloudSaveState: 'SAVED',
	game: game
})
---

<html lang='en'>
	<head>
		<StandardHead />
		<title>Editor | Sprig</title>
	</head>
	<body>
		<Editor
			client:load
			loggedIn
			persistenceState={persistenceState}
			cookies={{ outputAreaSize: Astro.cookies.get('outputAreaSize').number() }}
		/>
	</body>
</html>