---
import '../../global.css'
import { firestore, Game, getSession } from '../../lib/account'
import Navbar from '../../components/navbar-main'
import StandardHead from '../../components/standard-head.astro'

const session = await getSession(Astro.cookies)
if (!session) return Astro.redirect('/~/draft', 302)

const _games = await firestore.collection('games')
	.where('ownerId', '==', session.user.id)
	.orderBy('modifiedAt', 'desc')
	.get()
const games = _games.docs.map(doc => ({ id: doc.id, ...doc.data() } as Game))
---

<html lang='en'>
	<head>
		<StandardHead />
		<title>Your Games | Sprig</title>
	</head>
	<body>
		<Navbar loggedIn />
		<h1>Your games</h1>
		<button id='new-game'>New game</button>

		<ul>
			{games.map(game => (
				<li>
					<a href={`/~/${game.id}`}>{game.name}</a>
					{game.isDraft ? '*DRAFT' : ''}
					({game.modifiedAt.toDate().toLocaleString()})
				</li>
			))}
		</ul>

		<script>
			const newGameButton = document.getElementById('new-game') as HTMLButtonElement
			newGameButton.addEventListener('click', async () => {
				newGameButton.disabled = true
				const res = await fetch('/api/new-game', { method: 'POST' })
				if (!res.ok) return alert('Failed to create game: ' + res.statusText)
				const { id } = await res.json()
				window.location.href = `/~/${id}`
			})
		</script>
	</body>
</html>