---
import ProjectNameCreator from "../../components/popups-etc/project-name-creation";
import ProjectCreatorNotLoggedIn from "../../components/popups-etc/project-creation-not-logged-in";
import '../../global.css';
import Navbar from "../../components/navbar-main";
import { getSession } from "../../lib/game-saving/account";

const session = await getSession(Astro.cookies)
---


<html lang='en'>
	<Navbar session={session} />
	
	<body>
		{session ? <ProjectNameCreator client:load/> : <ProjectCreatorNotLoggedIn client:load/>}
	</body>	
</html>