---
import ProjectNameCreator from "../../components/popups-etc/project-name-creation";
import '../../global.css';
---


<html lang='en'>
	
<body>
	<ProjectNameCreator client:load/>
</body>
		

		
</html>