---
import '../../global.css'
import Categories from '../../../layouts/categories.astro'
---
<Categories name='Hardware - Sprikipedia, the Sprig encyclopedia' title='Hardware' whats='Hardware includes the physical parts.' about='Links to Hardware'>
    <ul>
        <li><a href="https://github.com/hackclub/sprig-hardware/tree/main/hardware/kicad">Kicad files</a></li>
        <li><a href="https://github.com/hackclub/sprig-hardware/blob/main/hardware/BOM.md">BOM</a></li>
        <li><a href="https://github.com/hackclub/sprig-hardware/blob/main/hardware/ORDERING.md">PCB order details</a></li>
        <li><a href="https://github.com/hackclub/sprig-hardware/blob/main/hardware/schematic.png">Schematic</a></li>
        <li><a href="https://github.com/hackclub/sprig-hardware/tree/main/back_covers">Back covers</a></li>
    </ul>
</Categories>