---
import '../../global.css'
import StandardHead from '../../components/standard-head.astro'
import Lang from '../../components/spriki-components/Lang.astro';
---
<html lang="en">
    <head>
        <StandardHead title='Sprikipedia' />
    </head>
    <body>
        <div class="home-spriki">
            <Lang links="en-us" name="English" description="some articles in english" />
            <img class="logo" src="https://cloud-iy0bytgsh-hack-club-bot.vercel.app/2frame_20.svg">
            <Lang links="pt-br" name="Portuguese" description="some articles inportuguese" />
        </div>
    </body>
</html>