---
const { content } = Astro.props;
---

<style>
    p {
        font-family: monospace;
    }
    img {
        height: 50px;
        width: 50px;
    }
    .copy {
        background-color: #23262F;
        border-radius: 30%;
        border-color: #43454E;
        height: 50px;
        width: 50px;
        margin: 10px;
    }
    .copy:hover {
        background-color: #43454E;
    }
    .code {
        background-color: #23262F;
        color: #b3b3b3;
    }
    .codeblock {
        width: 50%;
    }
    .functions {
        background-color: #23262F;
        color: #b3b3b3;
        height: 75px;
    }
</style>

<div class="codeblock">
    <div class="functions">
        <div class="copy">
            <img src="https://cloud-5pvvul7n8-hack-club-bot.vercel.app/0icons8-copy-96.png" alt="">
        </div>
    </div>
    <div class="code">
        <p>{content}</p>
    </div>
</div>