---
const { info, links } = Astro.props;
---
<style> 
    .dark {
        background-color: #434343;
        padding: 2px;
        margin: 5px;
        height: 80px;
        top: 20px;
        left: 50px;
        color: #ffffff;
    }
</style>

<a href={`https://${links}/`}>
    <button class="dark">
        <h2>{info}</h2>
    </button>
</a>