---
const { links, lang } = Astro.props;
---
<style> 
    .lang {
        background-color: #078969;
        padding: 5px;
        color: #ffffff;
        border-radius: 10px;
        border-color: #078969;
    }
</style>

<a href={`?lang=${links}`}>
    <button class="lang">
        <h2>{lang}</h2>
    </button>
</a>