---
---

<style>
    .nav-img {
        display: block;
        width: 20%;
        min-height: 50px;
        min-width: 200px;
    }
    
    .nav-bc {
        background-color: #008264;
        display: flex;
    }
</style>

<nav class="nav-bc">
    <a href="../">
        <img class="nav-img" src="https://cloud-iy0bytgsh-hack-club-bot.vercel.app/0frame_17.svg">
    </a>
</nav>