---
const { name, description, links } = Astro.props;
---
<style> 
    .wiki {
        background-color: #434343;
        padding: 10px;
        margin: 20px;
        width: 150px;
        height: 180px;
        top: 5rem;
        left: 50px;
        color: #ffffff;
        border-radius: 10px;
    }
    .wiki:hover {
        color: #888888;
    }
    .text {
        font-size: small;
        margin: 5%;
    }

    p {
        color: #888888;
    }
</style>

<a href={`https://${links}/`} class="wiki">
    <div class="text">
        <h2>{name}</h2>
        <p>{description}</p>
    </div>
</a>