@font-face {
	font-family: 'Billy';
	src: url('/fonts/Billy-Regular.otf');
	font-weight: 400;
	font-style: normal;
}
  
@font-face {
	font-family: 'Billy';
	src: url('/fonts/Billy-Light.otf');
	font-weight: 300;
	font-style: normal;
}
  
@font-face {
	font-family: 'Billy';
	src: url('/fonts/Billy-Bold.otf');
	font-weight: 700;
	font-style: normal;
}
