@import './_variables.scss';
@import './_fonts.scss';
@import './_shared.scss';

body {
	background: #2f2f2f;
	color: #ffffff;
}

nav {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
}

.wrapper {
	font-family: $pixel-text-font;

	p, ul, ol {
		font-size: 1.4rem;
	}
	
	code {
		display: block;
		font-size: 1.2rem;
		font-family: inherit;
		font-weight: 400;
		border: 4px solid #5b5b5b;
		padding: 20px 30px;
		width: 65%;
		margin: auto;
	}
	
	img {
		width: 100%;
		margin: auto;
		height: auto;
	}
	
	p,
	ul {
		font-size: 1.3rem;
		font-weight: 300;
	}
	
	.step-number {
		font-size: 1.2rem;
		margin: 0;
		color: #c6c6c6;
	}
	
	h2 {
		font-weight: normal;
		font-size: 2rem;
		margin: 4px 0 20px 0;
		color: #399F6E;
	}
	
	li {
		line-height: 1.5em;
	}
	
	.inner {
		width: 75%;
		margin: 0 auto;
		padding-bottom: 5vh;
	}
	
	.heading-outer {
		padding: 10vh 0;
		margin: 0;
		margin-bottom: 5vh;
		color: white;
		text-shadow: 0 0 10px black;
		background: url('/background-new.png'), $base-background;
		background-size: cover;
		background-attachment: fixed;
		background-position: bottom 200px center;
	}
	
	a:not(:has(.btn)) {
		color: #66ebb6;

		&:hover {
			text-decoration: underline;
		}
	}

	.heading-inner {
		width: 75%;
		margin: auto;
	}
	
	.step {
		display: grid;
		grid-template-columns: 1fr;
		padding-bottom: 7vh;
		line-height: 1.5;
	}
	
	.bottom-cta {
		display: block;
		margin: 0 auto;
		width: fit-content;
	}
	
	@media (min-width: $breakpoint-1) {
		h1 {
			font-size: 42px;
		}
	
		.step {
			grid-template-columns: 0.8fr 1.2fr;
		}
	
		img {
			width: 80%;
		}
	
		@media (min-width: $breakpoint-2) {
			h1 {
				font-size: 54px;
			}
		}
	}
}
