---
import '../../../../global.css'
import Navspriki from '../../../../components/spriki-components/Navspriki.astro'
---
<html lang="en">
    <head>
        <title>Sprikipedia:About - Sprikipedia</title>
    </head>
    <body>
        <Navspriki />
        <div class="main-spriki">
            <h1>Sprikipedia:About</h1>
            <br>
            <blockquote>
                <p>"Imagine a world in which every single person on the planet is given free access to the sum of all Sprig knowledge. That's what we're doing."</p>
                <p>- Lucas, rephrasing Jimmy Wales quote from Wikipedia's about page</p>
            </blockquote>
            <p>Sprikipedia is a encyclopedia.</p>
            <p>Sprikipedia's purpose is to benefit readers by containing information on all branches of Sprig, Written collaboratively by members of the <a href="https://hackclub.com">Hack Club Community</a>. Since its creation, as a <a href="https://github.com/hackclub/sprig/wiki">wiki page</a> in <a href="https://github.com/hackclub/sprig/">our GitHub repository</a>, on March 13, 2023 by Graham, it has grown to cover all things Sprig.</p>
            <p>Any Hack Clubber can edit Sprikipedia's text, references, and images. Simply doing a PR for <a href="https://github.com/hackclub/sprig/">our repository on GitHub</a>.</p>
            <p>Sprikipedia is inspired in Wikipedia, a huge thanks to them.</p>
        </div>
    </body>
</html>