---
import '../global.css'
import { getSession } from '../lib/account'
import Navbar from '../components/navbar-main'
import StandardHead from '../components/standard-head.astro'
import Button from '../components/button'

const loggedIn = !!await getSession(Astro.cookies)
---

<html lang='en'>
	<head>
		<StandardHead />
		<title>Sprig</title>
	</head>
	<body>
		<Navbar loggedIn={loggedIn} />
		<h1>Something something current hype page</h1>
		{loggedIn
			? <a href='/~'><Button accent>Browse games</Button></a>
			: <a href='/~/draft'><Button accent>Get started</Button></a>}
	</body>
</html>