---
import "../pages/sprikipedia/global.css"
import StandardHead from "../components/standard-head.astro";

const url = "https://sprig.hackclub.com/sprikipedia";
---
<html lang="en">
	<head>
		<StandardHead title="it is SPRIKIPEDIA" />
	</head>
	<body class="bg-dark" style="color: white;">
        <img src="https://cdn.hackclub.com/019d4787-12fc-76e1-988c-67e540fc9b93/2026_04_01_02j_Kleki%20(1)%20(1).png" height="70%">
        <h1>You will be redirected to the right website soon!</h1>
		<a href={url}>Not Redirected? Click Here</a>

		<br />

		<script defer>
		window.location.href = "https://sprig.hackclub.com/sprikipedia";
		</script>
    </body>
</html>