---
import "../pages/sprikipedia/global.css"
import StandardHead from "../components/standard-head.astro";

const url = "https://sprig.hackclub.com/sprikipedia";
---
<html lang="en">
	<head>
		<StandardHead title="it is SPRIKIPEDIA" />
	</head>
	<body class="bg-dark" style="color: white;">
        <img src="https://cloud-3afj9lnk9-hack-club-bot.vercel.app/0image.png" height="70%">
        <h1>You will be redirected to the right website soon!</h1>
		<a href={url}>Not Redirected? Click Here</a>

		<br />

		<script defer>
		window.location.href = "https://sprig.hackclub.com/sprikipedia";
		</script>
    </body>
</html>