---
import '../../../../global.css'
import Categories from '../../../../layouts/categories.astro'
---
<Categories name='Hardware - Sprikipedia, the Sprig encyclopedia' title='Hardware' whats='Hardware includes the physical parts.' found='Links to Hardware' about='TBD'>
    <h1>TBD</h1>
</Categories>