---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'

const data = (
  (await Astro.glob(`/src/translations/*.json`)).find(
    (translation) =>
      translation.default.lang == (Astro.url.searchParams.get("lang") || "en_US")
  ) || {}
).default;
---
<Categories name={data["firmware.categories.name"]} title={data["firmware.categories.title"]} >
        <blockquote>
            <p>"{data["about.blockquote.quote"]}"</p>
            <p>- {data["about.blockquote.citation"]}</p>
        </blockquote>
        <p>{data["about.content.p1"]}</p>
        <p>{data["about.content.p2"]}</p>
        <p>{data["about.content.p3"]}</p>
        <p>{data["about.content.p4"]}</p>
</Categories>

