---
import '../../../global.css'
import Docs from '../../../components/spriki-components/Docs.astro'
import Dark from '../../../components/spriki-components/Dark.astro'
import StandardHead from '../../../components/standard-head.astro'
---
<html lang="en">
    <head>
        <StandardHead title='Sprikipédia, a enciclopédia Sprig' />
    </head>
    <body>
        <div class="title-lang">
            <h1>Boas-vindas à Sprikipedia,</h1>
            <p>a enciclopédia Sprig que todos podem editar.</p>
        </div>
        <div class="docs-preview">
            <Docs name="Comece com Sprig!" description="Começando com Sprig? Aqui é o lugar perfeito" links="pt-br/getting-started" />
            <Docs name="Tutoriais" description="Passo a passo para fazer coisas para seu jogo" links="pt-br/tutorials" />
            <Docs name="Firmware" description="Links para Spade, Trowel, Spryg..." links="pt-br/firmware" />
            <Docs name="Hardware" description="Links para nossa PCB, componentes..." links="pt-br/hardware" />
            <Docs name="Equipe" description="Quem faz o Sprig possível" links="pt-br/team" />
            <Docs name="Sobre Sprikipédia" description="A história, propósito, tudo" links="pt-br/about" />
            <Docs name="Marca" description="Todo material de marca para download" links="pt-br/brand" />
        </div>
        <div class="docs-preview">
            <Dark links="github.com/hackclub/sprig/wiki" info="Venha para o lado negro da força!" />
        </div>
    </body>
</html>