.container,
.container :global(.cm-editor) {
	height: 100%;
	overflow: auto;
}

.container :global(.cm-scroller) {
	font-family: var(--font-code);
	font-size: 0.9em;
}

.container :global(.cm-panels) {
	position: unset;
}

.containerSkeleton {
	background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 80%
		),
		lightgray;
	background-repeat: repeat-y;
	background-size: 50px 500px;
	background-position: 0 0;
	animation: shine 1s infinite ease-in-out;
}
@keyframes shine {
	to {
		background-position: 100% 0, /* move highlight to right */ 0 0;
	}
}
