:root {
  --dark-grey: #434343;
}

.pixel-editor-container {
  height: 100%;
  display: flex;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  width: 90%;
  height: 100%;
  overflow: auto;
}

.drawing-canvas {
  background: white;
}

.offscreen-canvas {
  display: none;
}

.toolbox {
  display: flex;
  width: 10%;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  background: lightgrey;
  overflow: auto;
  justify-content: space-between;
  min-width: 100px;
}

.tools > * {
  background: lightgrey;
  margin-bottom: 5px;
  width: 100%;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.gridsize {
  width: 50px;
}

.view-window {
  display: flex;
  justify-content: center;
  background: lightgrey;
  padding: 5px;
  border: 2px solid black;
}

.selected-tool {
  border: 2px solid yellow !important;
}