---
import '../../../global.css'
import Categories from '../../../layouts/categories.astro'
---
<Categories name='Firmware - Sprikipedia, the Sprig encyclopedia' title='Firmware' whats='Software that controls basic hardware functions' about='A bunch of useful links relating to official and hacktastic Sprig firmware.'>
    <ul>
        <li><a href="https://github.com/hackclub/spade">Spade</a> (official firmware)</li>
        <li><a href="https://github.com/shanecelis/trowel">Trowel</a> (rust)</li>
        <li><a href="https://github.com/DedFishy/Spryg">Spryg</a> (MicroPython)</li>
        <li><a href="https://circuitpython.org/board/hack_club_sprig/">CircuitPython</a> (CircuitPython)</li>
        <li><a href="https://github.com/geschmit/hp-printer-trolling">hp-trolling</a> (Hacking tool vs HP-based printers)</li>
    </ul>
</Categories>