---
import '../../../../global.css'
import Categories from '../../../../layouts/categories.astro'
---
<Categories name='Firmware - Sprikipedia, the Sprig encyclopedia' title='Firmware' whats='Software that controls basic hardware functions' found='All operatings systeams.' about='A bunch of useful links relating to official and hacktastic Sprig firmware.'>
    <ul>
        <a href="https://github.com/hackclub/spade">Spade (official firmware)</a>
        <a href="https://github.com/shanecelis/trowel">Trowel (rust)</a>
        <a href="https://github.com/DedFishy/Spryg">Spryg (MicroPython)</a>
        <a href="https://circuitpython.org/board/hack_club_sprig/">CircuitPython (CircuitPython)</a>
        <a href="https://github.com/geschmit/hp-printer-trolling">hp-trolling (Hacking tool vs HP-based printers)</a>
    </ul>
</Categories>