@import url('./variables.css');

.button {
  color: var(--darkless);
  background: var(--light);
  border: 5px solid var(--lighter);
  border-radius: 12px;
  transition-duration: 0.01s;
  margin: 2px;
}

.button:hover {
  background: var(--lightless);
  border: 5px solid var(--light);
}

button {
  padding: 5px;
  padding-bottom: 5px;
}

button > img {
  object-fit: contain;
  image-rendering: pixelated; /* Make button icons crisp */
}