@import url('./variables.css');

:root {
  --vertical-bar: 60%;
  --background: #dbdbdb;
  --background-2: #eef4ff;
  --text-color: black;
}

html,
body {
	font-family: system-ui;
	font-size: 12pt;
	margin: 0px;
	overscroll-behavior: none; /*this stops the back swipe*/
/*	overflow: hidden;*/
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* ///////////////////////////////////////////////////// */
/* GENERAL SET-UP */
/* ///////////////////////////////////////////////////// */

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.left-pane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #f4e6d0;
  min-width: var(--vertical-bar);
  width: var(--vertical-bar);
  max-width: var(--vertical-bar);
}

#code-editor {
	overflow: scroll;
  flex: 1;
}

.log {
  background: green;
  padding: 5px;
  max-height: 100px;
  overflow-y: scroll;
}

.error {
  background: #ff0909b3;
}

.shrink {
  height: 0px;
  padding: 0px;
}

.menu {
  width: 100%;
  min-height: 30px;
  background: var(--darkless);
  display: flex;
}

.menu-option {
  flex: 1;
}

#vertical-bar {
  position: absolute;
  left: calc( var(--vertical-bar) - 5px);
  top: 0px;
  background: none;
  width: 10px;
  height: 100%;
  z-index: 10;
}

#vertical-bar:after {
  content: ' ';
  width: 0.5em;
  height: 10em;
  max-height: 30%;
  border-radius: 5em;
  background: var(--darker);
  cursor: inherit;
  display: inline-block;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

#vertical-bar:hover:after {
  max-height: 30%;
  background: var(--lightless);
}

#vertical-bar:hover {
  cursor: col-resize;
  border: 1px dashed var(--darker);
  background: var(--darker);
}

.CodeMirror {
	height: 100% !important;
	background: #f4e6d0 !important; /* #ebd5b3 */
	z-index: 0;
}

.ͼc, .ͼy {
  border: solid 1px rgb(0, 0, 0, 0);
}

.ͼc:hover, .ͼy:hover {
  background: #e4e0e0;
  border: solid 1px grey;
  box-sizing: border-box;
  cursor: col-resize;
}

/* menu */

.menu-choice {
  display: grid;
  place-content: center;
  font: 400 13.3333px Arial;
  border: solid 2px #7b7770;
  border-radius: 5px;
  text-align: center;
  border-radius: 2px;
  background: rgb(239, 239, 239);
  border: rgb(118, 118, 118) 0.1px solid;
}

.menu-choice:hover {
  background: rgb(229 225 225);
  border: rgb(74, 74, 74) 1px solid;
  cursor: default;
}

.menu-choices {
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: hidden; /* hidden | visible */
  width: 100%;
  display: flex;
  flex-direction: column;
}


.expand-menu {
  position: relative;
}

.expand-menu:hover .menu-choices {
  visibility: visible;
}

/* examples */

.examples { 
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: var(--background);
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  align-content: flex-start;
  z-index: 100;
}

.example {
  color: var(--text-color);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background: var(--background-2);
}


/*options*/

.options {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 80%;
  background: var(--background);
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  z-index: 100;
}

.option {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.hide {
  display: none;
}

.close {
  position: fixed;
  bottom: 10px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  border: none;
}

.close:hover {
  opacity: .7;
}

a {
  color: inherit;
}

img {
  image-rendering: pixelated; /* Make button icons crisp */
}

@media screen and (max-width: 450px) {
  .overflow-x-on-mobile {              /*  for the buttons at the top, make  */
    overflow-x: auto;                  /*   it scrollable on small screens   */
    overflow-y: hidden;                /*  so that games are still playable  */
  }
}

@media screen and (max-height: 450px) {
  .overflow-x-on-mobile {              /*  for the buttons at the top, make  */
    overflow-x: auto;                  /*   it scrollable on small screens   */
    overflow-y: hidden;                /*  so that games are still playable  */
  }
}