@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600;800&display=swap');
@import url('./variables.css');

.name-bar {
  font-family: 'JetBrains Mono', monospace;
  color: var(--light);
  background: var(--darkless);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.name-bar * {
  flex-grow: 0;
}

.name-bar h1 {
  margin: 0;
  color: var(--smoke);
}
.name-bar h1:focus {
  background: var(--dark);
}