.tooltipped {
  position: relative;
}

.tooltipped .tooltipped-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  bottom: 150%;
  z-index: 1;
}

.tooltipped:hover .tooltipped-text {
  visibility: visible;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* ex:
<div class="tooltip">
  Hover over me to learn more!
  <span class="tooltiptext">I see you!</span>
</div> 
 */